{% extends 'base.html' %}

{% block css %}
.container{
    display:flex;
    flex-direction:row;
    justify-content: left;
    flex-wrap: wrap;
}
.item{
    width: 150px;
    border-radius: 6px;
    box-shadow: 4px 4px 10px 4px grey;
    margin-left: 50px;
}
.item:hover{
    border-radius: 6px;
    box-shadow: 10px 10px 20px 10px black;
}
img{
    border-radius: 6px;
}
.first-txt{
  padding: 10px;
}
.submit{
  border: 0px;
  background-color:white;
}
{% endblock css %}

{% block title %}{{movie.m_name}}{% endblock title %}

{% block body %}
  <img class="center" src="{{movie.landscape}}" width="100%" alt="...">
  <h1 style="text-align:center;" ;>{{movie.m_name}} ({{movie.rating}})</h1>

  <div class='text-center'>
    <form method = 'post' action="/ratings">
      {% csrf_token %}
        <div class="stars">
              <input class="star star-10" value="10" id="star-10" type="radio" name="star" required ><label class="star star-10" for="star-10"></label>
              <input class="star star-9" value="9" id="star-9" type="radio" name="star" required ><label class="star star-9" for="star-9"></label>
              <input class="star star-8" value="8" id="star-8" type="radio" name="star" required ><label class="star star-8" for="star-8"></label>
              <input class="star star-7" value="7" id="star-7" type="radio" name="star" required ><label class="star star-7" for="star-7"></label>
              <input class="star star-6" value="6" id="star-6" type="radio" name="star" required ><label class="star star-6" for="star-6"></label>
              <input class="star star-5" value="5" id="star-5" type="radio" name="star" required ><label class="star star-5" for="star-5"></label>
              <input class="star star-4" value="4" id="star-4" type="radio" name="star" required ><label class="star star-4" for="star-4"></label>
              <input class="star star-3" value="3" id="star-3" type="radio" name="star" required ><label class="star star-3" for="star-3"></label>
              <input class="star star-2" value="2" id="star-2" type="radio" name="star" required ><label class="star star-2" for="star-2"></label>
              <input class="star star-1" value="1" id="star-1" type="radio" name="star" required ><label class="star star-1" for="star-1"></label>
              <input type="hidden" name='ron' id ='ron' value="{{movie.m_id}}">
        </div>
      <div class='text-center'>
        <button style="text-align: center" class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
    <br>
  </div>

<div style="display:flex;justify-content:left;margin-left:100px;">
<h3>Release Year : {{movie.release_year}}
<br>
Age plus : {{movie.ageplus}}
<br>
Run time : {{run}}
<br></h3>
</div>
  <div class='text-center'>
    <h3>Actor</h3>
    <br>
  </div>
<div class="container">
  {% for item in actor %}
  <div class="item my-3">
          <img class="center" src='{{item.portrait}}' width="100%" alt="oop">
          <h4 class="first-txt">
              {{ item.person}}  </h4>
  </div>
  {% endfor %}
</div>
<div class='text-center'>
  <h3>Actress</h3>
  <br>
</div>
<div class="container">
  {% for item in actress %}
  <div class="item my-3">
          <img class="center" src='{{item.portrait}}' width="100%" alt="oop">
          <h4 class="first-txt">
              {{ item.person}}  </h4>
  </div>
  {% endfor %}
</div>
<div class='text-center'>
  <h3>Director</h3>
  <br>
</div>
<div class="container">
  {% for item in director %}
  <div class="item my-3">
          <img class="center" src='{{item.portrait}}' width="100%" alt="oop">
          <h4 class="first-txt">
              {{ item.person}}  </h4>
  </div>
  {% endfor %}
</div>
{% endblock body %}